<% content_for :title, "Editing weapon type" %>

<h1>Editing weapon type</h1>

<%= render "form", weapon_type: @weapon_type %>

<br>

<div>
  <%= link_to "Show this weapon type", @weapon_type %> |
  <%= link_to "Back to weapon types", weapon_types_path %>
</div>
