<div class="buttons">
    <div class="vertical">
        <a href="/weapon_types" class="btn btn-primary btn-xl" role="button">Weapon Classes</a>
        <a href="/weapon_stats" class="btn btn-primary btn-xl" role="button">Weapon List</a>
    </div>
</div>




