<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <%= render @weapon_stat %>
      <div class="mt-4">
        <%= link_to "Edit this weapon stat", edit_weapon_stat_path(@weapon_stat), class: "btn btn-warning" %>
        <%= link_to "Back to weapon stats", weapon_stats_path, class: "btn btn-secondary" %>
        
        <%= button_to "Destroy this weapon stat", @weapon_stat, method: :delete, 
                      class: "btn btn-danger mt-2", 
                      data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</div>